*.iml
*.ipr
*.iws
target/
*~
pom.xml
.ply/config/depmngr.properties
ply-util/.ply/config/depmngr.properties
ply-jna/.ply/config/depmngr.properties
java-scripts/ply-clean/.ply/config/depmngr.properties
java-scripts/ply-compiler/.ply/config/depmngr.properties
java-scripts/ply-dependency-manager/.ply/config/depmngr.properties
java-scripts/ply-exec/.ply/config/depmngr.properties
java-scripts/ply-file-changed/.ply/config/depmngr.properties
java-scripts/ply-filter-file/.ply/config/depmngr.properties
java-scripts/ply-intellij/.ply/config/depmngr.properties
java-scripts/ply-package/.ply/config/depmngr.properties
java-scripts/ply-print-classpath/.ply/config/depmngr.properties
java-scripts/ply-repo-install/.ply/config/depmngr.properties
java-scripts/ply-resources/.ply/config/depmngr.properties
java-scripts/ply-test-junit/.ply/config/depmngr.properties
java-scripts/ply-update/.ply/config/depmngr.properties
dist/ply/config/aliases.ply.properties
.ply/config/aliases.ply.properties
ply-util/.ply/config/aliases.ply.properties
ply-jna/.ply/config/aliases.ply.properties
dist/ply/config/depmngr.properties
dist/ply/config/intellij.properties